<nav class="navbar navbar-dark bg-dark sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">CMS Admin</a>
  <ul class="navbar-nav ms-auto px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout">Kijelentkezés</a>
    </li>
  </ul>
</nav>
